{% extends 'base.html.twig' %}

{% block title "S'enregistrer" %}

{% block body %}

<div class="container mt-4 bg-danger">
    
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
 
    <button type="submit">S'inscrire!</button>
{{ form_end(form) }}
{% endblock %}