{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
                {# Moteur de recherche Page acheter #}
    <div class="jumbotron">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    <div class="form-group" id="price-slider"> 
                    {{ form_row(form.maxPrice)}}
                    </div>
                </div>
                <div class="col">
                {{ form_row(form.options) }} 
                </div>
                                        {# tentative de tri par type de biens  #}
                <div class="col">
                {{ form_row(form.type) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                </div> 
            </div>
        {# </div> #}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="container mt-4">
   
       <h1 class ="text-center font-italic ">Voir tous nos biens</h1>
        <div class="pagination justify-content-center">
                {{ knp_pagination_render(properties) }}
        </div>
        
        <div class="row">

        {% for property in properties %}
            <div class="col-md-4">
                {% include "property/_property.html.twig" %}
            </div>
        {% endfor %}
        </div>
            <div class="pagination justify-content-center ">
                {{ knp_pagination_render(properties) }}
            </div>  
        </div>
{% endblock %}