{% extends 'base.html.twig' %}

{% block title property.title %}
{# descriptif d'un bien immo en détails "Show"  #}
{% block body %}
    <div class="jumbotron">
        <div class="container">
        <div class="text-right">
        <a class=" btn btn-outline-info mb-4" href= {{ path ('property.index') }}>Retour au menu</a></div>
            {% for message in app.flashes('success') %}
            <div class="alert alert-success" >
                {{ message }}
            </div>
            {% endfor %}

            {% if not form.vars.valid %}
            <div class="alert alert-danger">
            Erreur ! Au moins un des champs n'est pas rempli. 
            </div>
            {% endif %}
            
            <div class="row">
                <div class="col-md-8">

                {% if property.filename %}
                <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;">
                {% else %}
                    <img src="{{ '/images/properties/empty.jpg' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height:auto;"> 
                {% endif %}
   
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.rooms }} pièces - {{ property.surface}} m2</h2>
                    <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ property.formattedPrice }} €</div>
                    <a href="#" class="btn btn-outline-primary ">Contacter l'agence</a>
                <div id="contactForm" class="mt-4">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">{{ form_row(form.firstname) }}</div>
                    <div class="col">{{ form_row(form.lastname) }}</div>
                </div>
                <div class="row">
                    <div class="col">{{ form_row(form.phone) }}</div>
                    <div class="col">{{ form_row(form.email) }}</div>
                </div>
                {{ form_rest(form) }}
                <div class="form-group">
                    <button class="btn btn-outline-primary">Envoyer</button>
                </div>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        
        <p>
        {{ property.description | nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8 ">
            <h2 class="diblue">Caractéristiques</h2>
                <table class="table-striped ">
                <tr>
                <td class="bg-secondary">Surface Habitable</td>
                <td class="bg-primary text-center">{{ property.surface }} m2</td>
                </tr>
                <tr>
                <td class="">Pièces</td>
                <td class="text-center">{{ property.rooms }}</td>
                </tr>
                <tr>
                <td class="bg-secondary">Chambres</td>
                <td class="bg-primary text-center">{{ property.bedrooms }}</td>
                </tr>
                <tr>
                <td>Etage</td>
                <td class="text-center">{{ property.floor }}</td>
                </tr>
                <tr>
                <td class="bg-secondary">Chauffage</td>
                <td class="bg-primary text-center">{{ property.heatType }}</td>
                </tr>
                </table>
            </div>
            <div class="col-md-4 text-center">
            <h2 class="diblue">Particularités</h2>
            <ul class="list-group mt-4">
            {% for option in property.options %}
                <li class="list-group-item">{{ option.name}}</li>
            {% endfor %}
            </ul>
            </div>    
        </div>
            <div class="col-sm-4 mt-4 ">
                <div class=" card-title text-center rounded bg-secondary text-white">
                {# <div class="badge pill bg-diblue">{{property.seller }}</div>  sera votre négociateur pour ce bien sous le mandat Numéro {{ property.id }}  #}
                </div>
            </div>
        {# <nav class="nav nav-tabs"></nav> #}
    </div>
{% endblock %}
