{{ form_start(form) }} 
<div class="bg-white rounded ml-3"> 


     <a class=" btn btn-outline-info" href="{{ path ('admin') }}">Retourner aux infos du bien</a>
    
    <a class=" btn btn-outline-info" href="{{ path ('admin') }}">Annuler</a></div>
    <div class="row "> 
         <div class="col-md-4">{{ form_row(form.title) }}</div>
       
    </div>
    <div class="row ">
          <div class="col-md-4">{{ form_row(form.name) }}</div>
    </div>    
    <div class="row ">
     
        <div class="col-md-3">{{ form_row(form.address) }}</div>
    
    </div>
    {{ form_rest(form) }} 
    <button class="btn bg-primary mb-2">{{ button|default('Enregistrer') }}</button>
    {{ form_end(form) }} 