
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
      <tr>
        <td align="left">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td>Nom du bien :</td>
            <td><a href="{{ url('property.show', {id: contact.property.id, slug: contact.property.slug})}}">{{ contact.property.title }}</a></td>
          </tr>
          <tr>
            <td>Prénom</td>
            <td>{{ contact.firstname }}</td>
          </tr>
           <tr>
            <td>Nom</td>
            <td>{{ contact.lastname }}</td>
          </tr>
            <tr>
            <td>Téléphone</td>
            <td>{{ contact.phone }}</td>
          </tr>
            <tr>
            <td>Email</td>
            <td>{{ contact.email }}</td>
          </tr>
            <tr>
            <td>Message</td>
            <td>{{ contact.message | nl2br }}</td>
          </tr>
          </table>
        </td>
      </tr> 
    </table>
  {# </mj-body>
</mjml> #}