{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
            <h1>{{ property.title }}</h1>
            <h2>{{ property.rooms }} pièces - {{ property.surface}} m2</h2>
            <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ property.formattedPrice }} €</div>
            <a href="#" class="btn btn-primary">Contacter l'agence</a>
            </div>
        </div>
        <p>
        {{ property.description | nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8">
                <table class="table-striped">
                <tr>
                <td>Surface Habitable</td>
                <td>{{ property.surface }} m2</td>
                </tr>
                <tr>
                <td>Pièces</td>
                <td>{{ property.rooms }}</td>
                </tr>
                <tr>
                <td>Chalbres</td>
                <td></td>
                </tr>
                </table>
            </div>    
        </div>
        {# <nav class="nav nav-tabs"></nav> #}
    </div>
{% endblock %}
