{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                <h1>{{ property.title }}</h1>
                <h2>{{ property.rooms }} pièces - {{ property.surface}} m2</h2>
                <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ property.formattedPrice }} €</div>
                <a href="#" class="btn btn-primary">Contacter l'agence</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem omnis explicabo aliquid quidem vero aperiam soluta facere molestias, placeat laborum fugiat nulla tempora nemo vitae deserunt, ipsa molestiae voluptatibus itaque.
        Ullam numquam, eius ad omnis fuga delectus distinctio deserunt hic at tempora cupiditate sapiente inventore dolore eveniet accusamus eos debitis? Ratione, ut sint repellendus eos aliquam iste vel corporis quis?
        Consequuntur obcaecati aperiam et laborum, optio molestias, quos voluptatum quam porro magni consectetur natus. Sed placeat fugit doloremque inventore laboriosam quae, molestias numquam ex deserunt in eveniet ad sit alias!
        Voluptatem ex quae, vel sint temporibus quas aperiam quo, fugiat consequatur eveniet doloremque molestias eligendi in dolor quibusdam sit dicta a? Repellat harum quos, id tenetur culpa eveniet! Omnis, assumenda.
        Ad doloribus ab quisquam dolorum nisi, sapiente mollitia molestias earum eaque error, dolorem at, natus animi dicta minus iusto non maiores cupiditate perspiciatis velit cum? Libero, animi. Provident, laboriosam nisi?</p>
        <p>
        {{ property.description | nl2br }}
        </p>
        <div class="row">
            <div class="col-md-8">
            <h2>Caractéristiques</h2>
                <table class="table-striped">
                <tr>
                <td>Surface Habitable</td>
                <td>{{ property.surface }} m2</td>
                </tr>
                <tr>
                <td>Pièces</td>
                <td>{{ property.rooms }}</td>
                </tr>
                <tr>
                <td>Chambres</td>
                <td>{{ property.bedrooms }}</td>
                </tr>
                <tr>
                <td>Etage</td>
                <td>{{ property.floor }}</td>
                </tr>
                <tr>
                <td>Chauffage</td>
                <td>{{ property.heatType }}</td>
                </tr>
                </table>
            </div>
            <div class="col-md-4" alt=">
            <h2>Spécificités</h2>
            </div>    
        </div>
        {# <nav class="nav nav-tabs"></nav> #}
    </div>
{% endblock %}
